USE [master]
GO
/****** Object:  Database [QuanLyKhachSan]    Script Date: 09/06/2020 11:49:25 PM ******/
CREATE DATABASE [QuanLyKhachSan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyKhachSan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QuanLyKhachSan.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyKhachSan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QuanLyKhachSan_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyKhachSan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyKhachSan]
GO
/****** Object:  Schema [production]    Script Date: 09/06/2020 11:49:25 PM ******/
CREATE SCHEMA [production]
GO
/****** Object:  Schema [sales]    Script Date: 09/06/2020 11:49:25 PM ******/
CREATE SCHEMA [sales]
GO
/****** Object:  Table [dbo].[DangKy]    Script Date: 09/06/2020 11:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKy](
	[MaPhieuDky] [nvarchar](50) NOT NULL,
	[MaPhong] [nchar](10) NOT NULL,
	[TenKhach] [nvarchar](50) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
	[NgayDky] [date] NOT NULL,
	[NgayNhan] [date] NOT NULL,
 CONSTRAINT [PK_DangKy] PRIMARY KEY CLUSTERED 
(
	[MaPhieuDky] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 09/06/2020 11:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaPhieuTT] [nchar](10) NOT NULL,
	[MaPhieuNhan] [nvarchar](50) NOT NULL,
	[MaPhong] [nchar](10) NOT NULL,
	[TenKhach] [nvarchar](50) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
	[ThanhTien] [float] NOT NULL,
	[NgayTra] [date] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaPhieuTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanPhong1]    Script Date: 09/06/2020 11:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanPhong1](
	[MaPhieuNhan] [nvarchar](50) NOT NULL,
	[MaPhieuDKy] [nvarchar](50) NOT NULL,
	[MaPhong] [nchar](10) NOT NULL,
	[TenKhach] [nvarchar](50) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[NgayNhan] [date] NOT NULL,
	[NgayTra] [date] NOT NULL,
 CONSTRAINT [PK_NhanPhong1] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[phong1]    Script Date: 09/06/2020 11:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phong1](
	[MaPhong] [nchar](10) NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[LoaiPhong] [nvarchar](50) NOT NULL,
	[Gia] [float] NOT NULL,
	[TinhTrang] [nvarchar](50) NOT NULL,
	[status] [nchar](10) NOT NULL,
 CONSTRAINT [PK_phong1] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 09/06/2020 11:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[id] [nchar](10) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[phong1] ADD  CONSTRAINT [DF_phong1_status]  DEFAULT ((0)) FOR [status]
GO
USE [master]
GO
